
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root {
    position: absolute;
    background-image: url(Photos1.png);
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.margin {
    margin: 30px;
    z-index: 5;
}

.header {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    display: grid;
    z-index: 2;
}


#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
    background: rgba(11, 180, 241, 0)
}

.margin1 {
    margin: 5px;
    text-size-adjust: 1px;
    color: #fff;
}

.grid {
    border: 3px solid rgb(255, 0, 0);
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}

.message {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff0000;
  }
  
  .restart {
    margin-top: 10px;
  }  

.grid:not(.disabled):hover {
    background: rgba(11, 180, 241, 0.323);

    
}

.grid:nth-child(-n + 3) {
    border-top: none;
}

.grid:nth-child(3n + 1) {
    border-left: none;
}

.grid:nth-child(3n + 3) {
    border-right: none;
}

.grid:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

.disabled {
    cursor: not-allowed;
}

.x::after {
    content: '❌';
}

.o::after {
    content: '⭕';
}

.visible {
    display: block;
}

.restart-s {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart {
    padding-top: 50px;
    outline: none;
    border: none;
    width: 105px;
    color: #fff;
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #383838;
}

.textybutton{
    position: absolute;
    height: 650px;
    width: 350px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    left: 830px;
    top: 300px;
    border: 3px solid rgb(255, 255, 255);
    visibility: hidden;
}

.buttonq {
    height: 100px;
    width: 200px;
    background-color: rgba(0, 187, 255, 0);
    position: relative;
    top: 870px;
    left: 80px;
    cursor: pointer;
    border: 0px;
}

.visible2{
    visibility: visible;
}